@charset "UTF-8";  


.dot-wrapper { 
	width:100%;
}
.dot { 
    text-align: center;
	max-width:928px;
	margin:0 auto;
}
.dot a{display:block; margin:20px 0;}
.dot img{max-width:100%; margin:0 auto; display:block;}